@import "../../themes/mixins";

.chefs-page {
  .chefs-title {
    @include titles_style;
    letter-spacing: 0.3vw;
    font-size: 4.8vw;
    margin-top: 4.4vw;
    margin-bottom: 0vw;
  }

  .header-container {
    .chefs-header {
      display: flex;
      padding: 4.8vw;

      .menu-button {
        @include font-style;
        padding: 2vw;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 4.8vw;
        position: relative;
      }

      .menu-button.active {
        font-weight: 400;
        border-bottom: 2px solid $secondary-orange-color; /* Orange line under active link */
        border-radius: 4%;
      }
    }
  }

  .chefs-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .swiper {
      .swiper-slide {
        max-width: fit-content;
      }
    }
  }
}

@include desktop {
  .chefs-title {
    display: none;
  }

  .chefs-header {
    display: flex;
    padding: 3.3vw 0vw 2.8vw 0vw;
    align-items: center;
    justify-content: center;
  }

  .button {
    @include font-style;
    padding: 2vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 4.8vw;
    position: relative;
  }

  .button.activeButton {
    font-weight: bold;
    border-bottom: 2px solid $secondary-orange-color; /* Orange line under active link */
    border-radius: 4%;
  }
}