@import '../../../themes/mixins';
@import '../../../themes/variables';

.background {
  background-image: url("../../../assets/homePageImg/General-photos/MainHomePage.png");
  position: relative;

  @include mobile {
    background-size: 564.83px 273px;
    width: 564.83px;
    height: 273px;
    left: -110px;
  }

  @include desktop {
    background-size: 1440px 640px;
    height: 640px;
  }
}

.overlay {
  position: absolute;

  @include mobile {
    top: 50%;
    left: 58%;
    width: 335px;
    height: 144px;
  }

  transform: translate(-50%, -50%);

  @include desktop {
    top: 50%;
    left: 50%;
    width: 776px;
    height: 221px;
  }

  background: rgba($secondary-white-color, 0.88);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    padding: 5px 0px 2px 0px;
    width: 315px;
    gap: 18px;
  }

  .text {
    @include font-style;

    @include mobile {
      font-size: 23px;
    }

    @include desktop {
      font-size: 32px;
      margin-left: 170px;
      margin-right: 170px;
    }

    text-align: center;
  }

  .bar {
    display: flex;
    align-items: center;
    width: 290px;
    height: 30px;
    border-radius: 4px;
    border: 0.5px solid $primary-dark-color;
    padding: 6px 12px;
    gap: 8px;

    @include desktop {
      margin-top: 17px;
      width: 505px;
      height: 48px;
    }

    .input {
      @include font-style;
      border: none;
      background-color: transparent;
      flex: 1;
      font-size: 12px;
      letter-spacing: 1.29px;

      @include desktop {
        font-size: 24px;
      }

      &:focus {
        outline: none;
      }
    }

    .button {
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;

      @include desktop {
        .icon {
          width: 32px;
          height: 32px;
          margin-right: 16px;
        }
      }
    }
  }
}