@import "../../../themes/variables";
@import "../../../themes/mixins";

.distance-popup-container {
    padding: 1vw;
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 16.22vw; 
    left: 51.7%; 
    transform: translateX(-50%);
    z-index: 9; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0.05vw 0.5vw rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease; // Add transition for smooth height change
  }
  
  // Rest of your SCSS styles...
  

// Rest of your SCSS styles...

.distance-popup-title {
@include font-style;
font-size: 1.25vw;
letter-spacing: 0.1vw;
margin-bottom: 0.5vw;
font-weight: 400;
}





.distance-container {
  background-color: $secondary-offwhite-color;
  border-radius: 0.3vw;
  margin-top: 1vw;
  height: 0vw;
  z-index: 1;
  width: 20vw;
  height: 3.7vw;
  padding: 2.3vw 0vw 0px 1vw;

  .distance-slider {
    position:sticky;
    width: 17vw;
    padding-left: 0.4vw;
    .distance-slider__left-value,
    .distance-slider__right-value {
      position: absolute;
      
    }
    

    .distance-slider__track,
    .distance-slider__range {
      height: 0.3vw;
      position: absolute; 
      
    }

    .distance-slider__track {
      background-color: $secondary-light-color;
      width: 100%;
      z-index: 1;
    }

    .distance-slider__range {
      background-color: $secondary-grey-color;
      z-index: 2;
    }

    .distance-slider__left-value,
    .distance-slider__right-value {
      display: flex;
      flex-direction: row;
      margin-top: -2vw;
      .distance-min-value,
      .distance-max-value {
        @include font_style;
        font-size: 1vw;
        line-height: 1.5vw;
        letter-spacing: 0.11vw;
        font-weight: 300;
        &--orange {
          color: $secondary-orange-color; // Change color to orange when values changed
        }
        margin-left: -1vw;
    }


    }
    
    .distance-slider__left-value {
      left: 0;
      &--orange {
        color: $secondary-orange-color; // Change color to orange when values changed
      }
      .distance-left-circle {
        margin-top: 1.7vw;
        width: 0.8vw;
        height: 0.8vw;
        background-color:$secondary-grey-color;
        border-radius: 50%;
        margin-left: -0.3vw;
    }
    
    }
    
    .distance-slider__right-value {
      right: -1.5vw;
      &--orange {
        color: $secondary-orange-color; // Change color to orange when values changed
      }
    }
    
  }


  /* Removing the default appearance */
  .distance-thumb,
  .distance-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: $primary-dark-color;
  }

  .distance-thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 17.5vw;
    outline: none;
  }

  .distance-thumb--zindex-3 {
    z-index: 3;
  }

  .distance-thumb--zindex-4 {
    z-index: 4;
  }

  .distance-thumb--zindex-5 {
    z-index: 5;
  }

  .distance-thumb::-webkit-slider-thumb {
    background-color: $primary-dark-color;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 1.4vw;
    width: 1.4vw;
    margin-top: 0;
    pointer-events: all;
    position: relative;

  }

  /* When thumb is active, show the pseudo-element */
  .distance-thumb::-webkit-slider-thumb:active::after,
  .distance-thumb::-webkit-slider-thumb:focus::after {
    opacity: 0;
  }

  /* Adding orange color for thumb when active */
  .distance-thumb--orange::-webkit-slider-thumb {
    background-color:  $secondary-orange-color;
  }

     /* Clear button */
     .distance-clear-button {
        @include font_style;
        font-size: 0.9vw;
        letter-spacing: 0.2vw;
        font-weight: 400;
        text-transform: uppercase;
        width: 9vw;
        height: 2.5vw;
        position: absolute;
        top: 3.5vw;
        margin-left: 5.3vw;
        transform: translateY(-50%);
        background-color: white;
        border: 0.1vw solid black;
        cursor: pointer;
          &:hover {
          background-color: black; /* Change background color on hover */
          color: white; /* Change text color on hover */
      }
    }
}

