@import "../../themes/mixins";
@import "../../themes/variables";
// Restaurants.scss
.restaurants-page{
.restaurant-header {
  @include titles_style;
  letter-spacing: 0.3vw;
  font-size: 4.8vw;
  margin-top: 4.4vw;
  margin-bottom: 0vw;

}
.map-image-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  .map-img{
    width: 100vw;
    height: 40.5vw;
  }
}
}
@include desktop{
  .restaurants-page{
      .restaurant-header{
    display: none;
  }

  }

}