@import "../../themes/mixins";
@import "../../themes/variables";
// Restaurants.scss
.restaurants-page{
  height: 100%;
.restaurant-header {
  @include titles_style;
  letter-spacing: 0.3vw;
  font-size: 4.8vw;
  margin-top: 4.4vw;
  margin-bottom: 0vw;

}
.map-image-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  .map-img{
    width: 100vw;
    height: 40.5vw;
  }
}
.no-data{
  @include font-style;
  margin-left: 8.5vw;
  font-size: 3.5vw;
}
}
@include desktop{
  
  .restaurants-page{
    height: 150vh;
    height: 75vw;
      .restaurant-header{
    display: none;
  }
  .no-data{
    font-size: 1vw;
  }
  }
  

}