@import "../../themes/mixins";
@import "../../themes/variables";

.sub-title-home-page{
  @include titles_style;
  margin-top: 6vw;
  margin-bottom: 4vw;
  @include desktop{
    margin-right: 7.2vw;
  }
}

.loading-spinner {
  position: relative;
  top: 65vw;
  left: 35vw;
  margin-bottom: 130vw;
  .loading {
    width: 30vw;
    height: auto;
  }
}

.no-data{
  @include font-style;
  margin-left: 8.5vw;
  font-size: 3.5vw;
}
@include desktop {
  .loading-spinner {
    left: 41vw;
    top: 10vw;
    margin-bottom: 20vw;
    .loading {
      width: 15vw;
      height: auto;
    }
  }
  .no-data{
    font-size: 1vw;
  }
}
