@import "../../../themes/mixins";

.cards-section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .all-restaurants {
    padding-left: 7.5vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    margin-top: 18.2px;

    .all-restaurants-text {
      @include font-style;
      cursor: pointer;
      font-size: 4.3vw;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 1.5px;
      text-transform: capitalize;
    }

    .arrows-icon {
      cursor: pointer;
      width: auto;
      height: 6.5vw;
    }
  }
  .swiper {
    .swiper-slide {
      max-width: fit-content;
    }
  }
  &.restaurant-page {
    display: flex;
    justify-content: center;
    align-items: center;

    .all-restaurants {
      display: none;
    }
  }

  // Mobile specific styles
  @include mobile {
    .desktop-section {
      display: none;
    }

    .desktop-all-restaurants {
      display: none;
    }
  }

}

// Desktop specific styles
@include desktop {
  .cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .desktop-section {
      display: flex;
      width: 100%;
      max-width: fit-content;
      margin-left: 0;
    }


    .swiper {
      @include desktop {
        display: none;
      }
    }

    .desktop-all-restaurants {
      margin-top: 0;
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      gap: 12px;
      margin-top: 18.2px;
      margin-left: 54vw;
      .all-restaurants {
        display: flex;

        .all-restaurants-text {
          @include font-style;
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 2px;
          text-transform: capitalize;
        }

        .arrows-icon {
          cursor: pointer;
          width: 24px;
          height: 17.999px;
        }
      }
    }

    .all-restaurants {
      @include desktop {
        display: none;
      }
    }

&.restaurant-page {
  &.restaurant-card {
    .desktop-section {
      display: grid; 
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: repeat(3, auto); 
      gap: 1.39vw; 
      width: 82vw;
      height: 83.3vw; 
      overflow-y: auto; 

    }
    .all-restaurants {
      @include desktop {
        display: none;
      }
    }
  }
}


    &.chef-restaurant-card {
      align-items: flex-start;
      padding-left: 8.6vw;
    }
  }
}
