@import './variables';

@mixin font-style {
  font-family: "Helvetica Neue";
  color: black;
  line-height: normal;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.1vw;
}

@mixin titles_style {
  @include font-style;
  font-size: 4.4vw;
  text-transform: uppercase;
  margin-left: 6vw;
  letter-spacing: 0.45vw;

  @include desktop {
      letter-spacing: 0.15vw;
      margin-top: 5.6vw;
      font-size: 1.95vw;
      margin-bottom: 2.9vw;
      text-align: center;
    }
}

@mixin popup-style {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  width: 100%;
  height: 40vh;
  background-color: $primary-white-color;
  z-index: 10; // <10
  opacity: 0;
  transition: opacity 0.3s ease;
}

@mixin desktop {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin icon-style {
  background: none;
  border: none;
  cursor: pointer;
}