$secondary-offwhite-color: #F9F4EA;
$secondary-light-color: #FAFAFA;
$secondary-white-color: #FFFFFFE0;
$primary-dark-color: #000000;
$primary-grey-color: #979797;
$primary-white-color: #ffffff;
$secondary-orange-color: #DE9200E5;
$min-width-desktop: 769px;
