@import "../../../themes/mixins";
@import "../../../themes/variables";

/* Styles for mobile */

.about-us-container {
  display: flex;
  flex-direction: column;
  padding: 6.6vw 0 12.9vw 5.4vw;
  margin-top: 13vw;
  background: $secondary-light-color;

  .app-logo {
    width:27.3vw;
    height: auto;
  }

  .description-and-buttons {
    .epicure-buttons {
      display: flex;
      flex-direction: column;
      width:48vw;
      margin-top: 8.7vw;
      gap: 4.3vw;
      cursor: pointer;
    }

    .about-us-content {
      margin-top: 12.7vw;

      .about-us-title {
        @include font-style;
        line-height: 9.2vw;
        text-transform: uppercase;
        letter-spacing: 0.34vw;
        font-size: 4.8vw;
      }

      .about-us-description {
        @include font-style;
        font-size: 4.8vw;
        line-height: 7.45vw;
        letter-spacing: 0.57vw;
      }

      .part-one {
        padding-right: 5vw;
      }

      .part-two {
        padding-right: 10vw;
      }
    }
  }
}

/* Media query for desktop */

@include desktop {
  .about-us-container {
    margin-top: 4vw;
    padding: 2.8vw 9vw;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 41vw;
    .app-logo {
      align-self: center;
      display: flex;
      justify-self: center;
      width: 12.5vw;
      height: auto;
    }

    .description-and-buttons {
      display: flex;
      flex-direction: column-reverse;
      width: 69vw;
      gap: 0;
      

      .epicure-buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 4vw;
        gap: 1vw;
      }

      .about-us-content {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        
        .about-us-title {
          font-size: 2.08vw;
          letter-spacing: 0.15vw;
          margin-bottom: 0;
          line-height: 2vw;
        }

        .about-us-description {
          font-size: 1.39vw;
          line-height: 2.1vw;
          width: 37vw;
          letter-spacing: 0.15vw;
          
        }

        .part-one,
        .part-two {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
