@import '../../../themes/mixins';
@import '../../../themes/variables';

.WeekChef-main-title {
  @include font-style;
  padding: 35px 10px 0px 0px;
  font-size: 18px;
  @include titles_style;

  @include desktop {
    margin-top: 20px;
    font-size: 28px;
    margin-left: 545px;
  }

}

.WeekChef-text {

  @include font-style;
  font-size: 17px;
  font-weight: 200;
  line-height: 24px;
  margin-top: 32px;
  margin-left: 4px;

  @include desktop {
    margin-left: 127px;
    font-size: 30px;
  }

}

.chef-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;
  overflow-x: hidden;

  @include desktop {
    display: flex;
    flex-direction: column;

    padding: 0;
    gap: 40px;
  }

  .image-container {
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 63.5px;
      margin-left: 127.5px;
      margin-right: 129px;
    }

    .chef-image-container {

      margin-top: 16px;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      width: 335px;
      height: 262px;

      @include desktop {
        min-width: 478px;
        min-height: 372px;
      }

      @include mobile {
        width: 335px;
        height: 262px;
        width: 100%;

        object-fit: cover;

      }

      .chef-name {

        @include font-style;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 47px;
        font-size: 18px;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 2.67px;
        background-color: rgba($secondary-white-color, 0.88);

        @include desktop {
          height: 78px;
          font-size: 40px;
        }
      }
    }

    .chef-description {
      @include desktop {
        font-size: 24px;
        line-height: 35px;
        margin-top: 61px;
      }

      @include font-style;
      text-align: justify;
      margin-top: 26px;
      line-height: 28px;
      font-size: 18px;
      letter-spacing: 1.25px;
    }
  }
}