// Footer.scss

@import "../../../themes/mixins";

/* Styles for mobile */

.footer-container {
  display: flex;
  padding: 5vw 0px 6.2vw 5vw;

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10.7vw;

    .footer-link {
      @include font-style;
      text-decoration: none;
      font-size: 4.8vw;
      letter-spacing: 0.501vw;
      white-space: nowrap;
    }
  }
}

.under-footer {
  display: none;
}

/* Media query for desktop */

@include desktop {
  .footer-container {
    padding: 3.7vw 0vw 3.7vw;
     
    .footer-links {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      gap: 4.8vw;
      .footer-link {
        @include font-style;
        text-decoration: none;
        font-size: 2.15vw;
        letter-spacing: 0.25vw;
        white-space: nowrap;

      }
    }
  }
}
