@import '../../../themes/mixins';
@import '../../../themes/variables';

.card {
  margin-left: 5.9vw;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $secondary-offwhite-color;
  cursor: pointer;

  .image-container {
    .card-image {
      width: 100%;
      height: 45vw;
      object-fit: cover;
    }
  }

  .card-content {
    @include font-style;
    display: flex;
    flex-direction: column;
    padding-left: 4.3vw;


    .card-title {
      font-size: 4.97vw;
      font-weight: 400;
      letter-spacing: 2.67px;
    }

    .description-rating {
      display: flex;

      .description {
        margin-right: 8vw;

        .card-description {
          margin: 0;
          font-size: 4.27vw;
          line-height: 5.4vw;
          letter-spacing: 0.53vw;
          overflow-y: scroll;
        }
      }

      .rating-image {
        display: none;
      }
    }

  }

  &.restaurant-card {
    height: 69vw;

    .card-title {
      margin: 0;
    }

    .card-content {
      padding: 4.2vw;
      gap: 2.2vw;
    }


    &.restaurant-page {
      margin-left: 0;
      width: 89vw;
      height: 76.8vw;
      margin-bottom: 6.75vw;

      .image-container {
        .card-image {
          width: 100%;
          height: 55.01vw;
          object-fit: cover;
        }
      }

      .card-content {
        @include font-style;
        display: flex;
        flex-direction: column;
        padding-left: 4.3vw;


        .card-title {
          font-size: 4.97vw;
          font-weight: 400;
          letter-spacing: 2.67px;
        }

        .description-rating {
          display: flex;

          .description {
            margin-right: 8vw;

            .card-description {
              margin: 0;
              font-size: 4.27vw;
              line-height: 5.4vw;
              letter-spacing: 0.53vw;
            }
          }

        }

      }
    }
  }

  &.dish-card {
    cursor: auto;

    .card-content {
      height: 65.5vw;
    }

    .price-foodIcon-container {
      display: flex;
      flex-grow: 1;
      align-items: flex-end;

      .price-foodIcon {
        display: flex;
        flex-direction: column;

        .food-icon {
          width: auto;
          height: 6.15vw;
        }

        .card-price {
          margin-top: 4vw;
          margin-bottom: 4vw;

          .value-logo-container {
            display: flex;
            align-items: flex-end;

            .ils-icon {
              margin-right: 0.7vw;
            }

            .price-value {
              @include font-style;
              font-size: 4.3vw;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 1.97px;
            }
          }
        }
      }
    }
  }

  &.chef-restaurant-card {
    cursor: auto;

    height: 62.85vw;
    display: flex;
    justify-content: flex-start;

    .card-title {
      margin: 0;
    }


    .card-content {
      padding: 4.3vw;
      gap: 2.15vw;
    }

    .image-container {
      width: 64.8vw;
      height: 40.5vw;

      .card-image {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

@include desktop {
  .card {
    gap: 0;
    margin: 1.68vw;
    width: 26.5vw;
    align-items: center;
    text-align: center;

    .image-container {
      height: 21.2vw;
      width: 100%;

      .card-image {
        height: 100%;
        width: 100%;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include font-style;
      margin: 0;
      padding: 0;

      .card-title {
        font-size: 2.77vw;
        font-weight: 400;
        letter-spacing: 0.18vw;
      }

      .description-rating {
        display: flex;

        .description {
          .card-description {
            margin: 0;
            padding: 0;
            font-size: 16px;
            line-height: 2.5vw;
            letter-spacing: 0.1vw;
            overflow-y: scroll;
          }
        }
      }
    }

    &.restaurant-card {
      height: 405px;


      .card-content {
        .card-title {
        }
        padding: 0;
      }
    }

    &.dish-card {
      cursor: auto;

      .card-content {
        height: 65.5vw;
      }

      .price-foodIcon-container {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;

        .price-foodIcon {
          display: flex;
          flex-direction: column;

          .food-icon {
            width: auto;
            height: 6.15vw;
          }

          .card-price {
            margin-top: 4vw;
            margin-bottom: 4vw;

            .value-logo-container {
              display: flex;
              align-items: flex-end;

              .ils-icon {
                margin-right: 0.7vw;
              }

              .price-value {
                @include font-style;
                font-size: 4.3vw;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 1.97px;
              }
            }
          }
        }
      }
    }

    &.chef-restaurant-card {
      width: 231px;
      height: 357px;
      display: flex;
      justify-content: flex-start;

      .image-container {
        width: 231px;
        height: 224px;
        object-fit: cover;

      }

      .card-content {
        padding: 20px 0px 0px 0px;
        gap: 0px;
        height: 133px;

        .card-title {
          font-size: 30px;
          line-height: 47px;
        }
      }

    }
  }
}