@import "../../../themes/mixins";

.popup-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  .dish-img {
    width: 100%;
    height: 72.267vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .dish-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    text-align: left;
    margin-left: 5.333vw;
    .dish-title {
      @include font-style;
      font-size: 4.8vw;
      font-weight: 400;
      margin-top: 8.533vw;
    }

    .dish-description {
      @include font-style;
      font-size:4.267vw;
      letter-spacing: 0.137vw;
      text-align: left;
      margin-top: 3.733vw;
    }

    .dish-icon {
      display: none;
    }

    .dish-price {
      display: none;
    }
  }

  .dish-side,
  .dish-changes,
  .dish-quantity {
    display: flex;
    justify-content: left;
    align-items: self-start;
    width:100%;
    flex-direction: column;

    .side-title,
    .changes-title,
    .quantity-title {
      margin-top: 10.667vw;
      margin-bottom: 6.4vw;
      display: flex;
      flex-direction: column;
      @include font-style;
      font-size: 5.333vw;
      border-bottom: 0.069vw solid $secondary-orange-color;
    }

    .side-choices {
      display: flex;
      flex-direction: column;
      gap: 6.4vw;
      text-align: left;
      align-self: self-start;

      label {
        display: flex;
        flex-direction: row;
        @include font-style;
      }

      .choose-label {
        margin-top: 0vw;
        font-size: 4.8vw;
      }

      .side-checkbox,
      .changes-checkbox {
        margin-right: 8px;
      }

      .checkbox-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        /* Remove the margin-top */
      }

      .side-checkbox,
      .changes-checkbox {
        margin-right: 8px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
      }

      .side-checkbox {
        position: relative;
        width: 4.8vw;
        /* Adjust size as needed */
        height: 4.8vw;
        /* Adjust size as needed */
        border: 0.1vw solid black;
        border-radius: 50%;
        /* Make it a circle */
      }

      .side-checkbox::after {
        content: '';
        /* Empty content */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3.8vw;
        /* Adjust size as needed */
        height: 3.8vw;
        /* Adjust size as needed */
        background-color: transparent;
        /* Set default background as transparent */
        border-radius: 50%;
        /* Make it a point */
      }

      .side-checkbox:checked::after {
        background-color: black;
        /* Fill as point color */
      }

      .changes-checkbox {
        position: relative;
        width: 4.8vw;
        /* Adjust size as needed */
        height: 4.8vw;
        /* Adjust size as needed */
        border: 0.1vw solid black;
        outline: none;
        cursor: pointer;
      }

      .changes-checkbox::after {
        content: "";
        /* Empty content */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 0.8vw; /* Adjust size as needed */
        // height: 0.8vw; /* Adjust size as needed */
        background-color: transparent;
        /* Set default background as transparent */
      }

      .changes-checkbox:checked::after {
        content: "\2713";
        /* Use tick symbol */
        @include font-style;
        font-weight: 100;
        font-size: 4.8vw;
        /* Adjust size as needed */
        color: black;
        /* Set color of tick */
        text-align: center;
        /* Center the tick */
        line-height: 0vw;
        /* Vertically center the tick */
      }



    }
  }

  .dish-quantity {
    display: flex;
    align-items: left;
    margin-top: 10.667vw;
    flex-direction: column;

    .quantity-title {
      margin: 0;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 6.4vw;
      width: 30.133vw;
      .reduce {
        @include font-style;
        background-color: transparent;
        border: none;
        font-size: 4.8vw;
      } 
      .add {
        @include font-style;
        background-color: transparent;
        border: none;
        font-size:8vw;
        margin-top: -1.7vw;
      }

      .line-reduce {
        height:0.1vw;
        width: 5.067vw;
        background-color: rgba(0, 0, 0, 0.314);

      }

      .quantity {
        @include font-style;
        font-size:4.8vw;
        margin-top: 1.8vw;
      }
    }
  }

  .add-to-bag {
    @include font-style;
    width: 54.933vw;
    height: 12.8vw;
    background-color: black;
    color: #fff;
    font-size: 4.8vw;
    margin-top: 10.667vw;
    margin-bottom: 13.067vw;
    letter-spacing: 0.185vw;
    margin-left: 5.333vw;
  }
}



@include desktop {

    .popup-content {
      width: 39.792vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
text-align: center;
      .dish-img {
        width: 100%;
        height: 20.28vw;
        margin-top: -0.25vw;
        img {
          width: 100%;
          height: 20.28vw;
          object-fit: cover;
        }
      }

      .dish-details {
        width: 16.111vw;
        gap: 0.972vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
margin-left: 0;
        .dish-title {
          @include font-style;
          font-size: 2.222vw;
          font-weight: 400;
          margin-top: 2.778vw;
        }

        .dish-description {
          @include font-style;
          font-size: 0.972vw;
          letter-spacing: 0.137vw;
          text-align: center;
          margin-top: 0;
        }

        .dish-icon {
          .food-icon {
            width: 2.778vw;
            height: 2.083vw;
          }
        }

        .dish-price {
          gap: 0.833vw;
          display: flex;

          .line {
            margin-top: 1.042vw;
            height: 0.009vw;
            width: 5.799vw;
            background-color: rgba(0, 0, 0, 0.314);
          }

          .value-logo-container {
            gap: 0.139vw;
            display: flex;

            .ils-icon {
              width: 0.764vw;
              height: 1.319vw;
              margin-top: 0.764vw;
            }

            .price-value {
              @include font-style;
              font-size: 1.667vw;
              font-weight: 400;
            }
          }
        }
      }

      .dish-side,
      .dish-changes,
      .dish-quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13.125vw;
        flex-direction: column;

        .side-title,
        .changes-title,
        .quantity-title {
          margin-top: 2vw;
          margin-bottom: 1vw;
          display: flex;
          flex-direction: column;
          @include font-style;
          font-size: 1.389vw;
          border-bottom: 0.069vw solid $secondary-orange-color;
        }

        .side-choices {
          display: flex;
          flex-direction: column;
          gap: 1.667vw;
          text-align: left;
          align-self: self-start;

          label {
            display: flex;
            flex-direction: row;
            @include font-style;
          }

          .choose-label {
            margin-top: 0vw;
            font-size:1.25vw ;
          }

          .side-checkbox,
          .changes-checkbox {
            margin-right: 8px;
          }

          .checkbox-label {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0;
            /* Remove the margin-top */
          }

          .side-checkbox,
          .changes-checkbox {
            margin-right: 8px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            cursor: pointer;
          }

          .side-checkbox {
            position: relative;
            width: 1.2vw;
            /* Adjust size as needed */
            height: 1.2vw;
            /* Adjust size as needed */
            border: 0.1vw solid black;
            border-radius: 50%;
            /* Make it a circle */
          }

          .side-checkbox::after {
            content: '';
            /* Empty content */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.8vw;
            /* Adjust size as needed */
            height: 0.8vw;
            /* Adjust size as needed */
            background-color: transparent;
            /* Set default background as transparent */
            border-radius: 50%;
            /* Make it a point */
          }

          .side-checkbox:checked::after {
            background-color: black;
            /* Fill as point color */
          }

          .changes-checkbox {
            position: relative;
            width: 1.2vw;
            /* Adjust size as needed */
            height: 1.2vw;
            /* Adjust size as needed */
            border: 0.1vw solid black;
            outline: none;
            cursor: pointer;
          }

          .changes-checkbox::after {
            content: "";
            /* Empty content */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // width: 0.8vw; /* Adjust size as needed */
            // height: 0.8vw; /* Adjust size as needed */
            background-color: transparent;
            /* Set default background as transparent */
          }

          .changes-checkbox:checked::after {
            content: "\2713";
            /* Use tick symbol */
            @include font-style;
            font-weight: 100;
            font-size: 1.5vw;
            /* Adjust size as needed */
            color: black;
            /* Set color of tick */
            text-align: center;
            /* Center the tick */
            line-height: 0vw;
            /* Vertically center the tick */
          }



        }
      }

      .dish-quantity {
        display: flex;
        align-items: center;
        margin-top: 16px;
        flex-direction: column;

        .quantity-title {
          margin: 0;
        }

        .actions {
          display: flex;
          justify-content: space-between;
          width: 7.847vw;
          margin-top: 1.667vw;

          .reduce,
          .add {
            @include font-style;
            background-color: transparent;
            border: none;
            font-size: 1.9vw;
          }
          .add{
            margin-top: 0vw;
          }

          .line-reduce {
            height: 0.009vw;
            width: 1.215vw;
            background-color: rgba(0, 0, 0, 0.314);
            margin-top: 0.5vw;
          }

          .quantity {
            @include font-style;
            font-size: 1.25vw;
            margin-top: 0.7vw;
          }
        }
      }

      .add-to-bag {
        @include font-style;
        width: 14.514vw;
        height: 3.333vw;
        background-color: black;
        color: #fff;
        font-size: 1.25vw;
        margin-bottom: 0vw;
        margin-top: 2.778vw;
        letter-spacing: 0.185vw;
        margin-left: 0vw;
      }
    }
  }
